KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt/set_gdt.o \
$(ARCHDIR)/gdt/gdt.o \
$(ARCHDIR)/interruptions/set_idt.o \
$(ARCHDIR)/interruptions/idt.o \
$(ARCHDIR)/interruptions/generic.o \
$(ARCHDIR)/interruptions/keyboard.o \
$(ARCHDIR)/io/io.o \
$(ARCHDIR)/pic/pic.o \
